<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/side.css}">
    <title>Jo's study</title>
</head>
<body>
    <nav th:replace="navbar :: navbarFragment"></nav>  
    <nav th:replace="sidebar :: sidebar"></nav>
    <!-- 템플릿 안에 삽입될 내용 start -->
    <th:block layout:fragment="content"></th:block>
    <!-- End -->
    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>
    <!-- 스크립트 start -->
    <th:block layout:fragment="script"></th:block>
    <!-- 스크립트 end -->
</body>
</html>